<html>

<head>
  <title></title>
</head>
<style>
  body {
    font-size: 8.5px
  }

  p {
    line-height: 1.6;
    font-size: 8.5px;
    text-align: justify !important;
  }

  * {
    font-size: 8.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  }

  .hader {
    text-align: center;
    border-bottom: solid 2px #000;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .hader>.title,
  .hader>.title-desc {
    font-size: 11px !important;
    font-weight: bold;
  }

  .content {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .table-attention {
    width: 100%;
  }

  .table-cost {
    width: 100%;
    /* border: solid 0.5px #000; */
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .table-cost>thead>tr>td {
    padding: 5px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    font-weight: bold;
  }

  .table-cost>tbody>tr>td {
    padding: 5px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
  }

  .table-cost>tbody>tr>td:last-child {
    border-right: none;
  }

  .table-cost>thead>tr>td:last-child {
    border-right: none;
  }
</style>

<body>

  <div class="hader">
    <div class="title">BERITA ACARA REKONSILIASI</div>
    <div class="title-desc">
      (No. BA: <%=NoBA %> )
    </div>
  </div>
  <div class="content">
    <p>Pada hari <%=DateBACreate%>, yang bertanda-tangan dibawah ini:</p>
    <p>
    <table class="table-attention">
      <tr>
        <td width="70px">Nama</td>
        <td width="10px">:</td>
        <td style="text-transform: capitalize;">
          <%=PihakIName %>
        </td>
      </tr>
      <tr>
        <td width="70px">Jabatan</td>
        <td width="10px">:</td>
        <td style="text-transform: capitalize;">
          <%=PihakIPosition %>
        </td>
      </tr>
      <tr>
        <td width="70px" style="vertical-align: top;">Alamat</td>
        <td width="10px" style="vertical-align: top;">:</td>
        <td style="vertical-align: top; text-transform: capitalize;">
          <%=PihakICompany %>
        </td>
      </tr>
      <tr>
        <td width="70px" style="vertical-align: top;"></td>
        <td width="10px" style="vertical-align: top;"></td>
        <td style="vertical-align: top; text-transform: capitalize;">
          <%=PihakIAddress %>
        </td>
      </tr>
    </table>
    </p>
    <p>
      Untuk selanjutnya disebut PIHAK I
    </p>
    <p>
    <table class="table-attention">
      <tr>
        <td width="70px">Nama</td>
        <td width="10px">:</td>
        <td style="text-transform: capitalize;">
          <%=PihakIIName %>
        </td>
      </tr>
      <tr>
        <td width="70px">Jabatan</td>
        <td width="10px">:</td>
        <td style="text-transform: capitalize;">
          <%=PihakIIPosition %>
        </td>
      </tr>
      <tr>
        <td width="70px" style="vertical-align: top;">Alamat</td>
        <td width="10px" style="vertical-align: top;">:</td>
        <td style="text-transform: capitalize;">
          <%=PihakIICompany %>
        </td>
      </tr>
      <tr>
        <td width="70px" style="vertical-align: top;"></td>
        <td width="10px" style="vertical-align: top;"></td>
        <td style="text-transform: capitalize;">
          <%=PihakIIAddress %>
        </td>
      </tr>
    </table>

    </p>
    <p>
      Untuk selanjutnya disebut PIHAK II
    </p>
    <p>
      Berdasarkan Surat Perjanjian <%=NoContract %> perihal kerjasama Kegiatan Layanan Pembayaran Merchant Merchant
        LinkAja, kedua belah pihak sepakat hasil rekonsiliasi sebagai berikut:
    </p>
    <p style="margin-top: 15px;">
    <table class="table-cost" width="100%" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <% THead.forEach(function(xTH) {%>
            <td style="text-align: center;font-weight: bold;">
              <%=xTH%>
            </td>
            <%});%>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% TBody.forEach(function(xTB) {%>
            <td style=<%=xTB.style%> >
              <%=xTB.label%>
            </td>
            <%});%>
        </tr>
      </tbody>
    </table>
    </p>
    <p style="margin-top: 15px;">
      Sehingga total tagihan dari PIHAK I kepada PIHAK II adalah sebesar
      <b style="text-transform: capitalize;">
        <%=NominalString %>
      </b> termasuk PPN 10%.
    </p>
    <p>
      Demikian Berita Acara Rekonsiliasi ini dibuat dalam rangkap 2 (dua) asli dimana masing-masing
      mempunyai kekuatan hukum yang sama dan ditandatangani kedua belah pihak untuk dipergunakan
      sebagaimana mestinya.
    </p>
    <p style="margin-top: 15px;">
    <table width="100%">
      <tbody>
        <tr>
          <td width="50%" style="text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <b>PIHAK I</b>
          </td>
          <td width="50%" style="text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <b>PIHAK II</b>
          </td>
        </tr>
        <tr>
          <td
            style="text-align: center;padding-left:10px;padding-right: 10px;vertical-align: top; text-transform: capitalize;">
            <b>
              <%=PihakICompany %>
            </b>
          </td>
          <td
            style="text-align: center;padding-left:10px;padding-right: 10px;vertical-align: top; text-transform: capitalize;">
            <b>
              <%=PihakIICompany %>
            </b>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;padding-left:10px;padding-right: 10px; padding-top: 10px; vertical-align: top;">
            <div style="text-align: center; height: 40;">
              <img src="data:image/png;base64,<%=PihakISign%>" width="40" height="40" />
            </div>
          </td>
          <td style="text-align: center;padding-left:10px;padding-right: 10px; padding-top: 10px; vertical-align: top;">
            <div style="text-align: center; height: 40;">
              <img src="data:image/png;base64,<%=PihakIISign%>" width="40" height="40" />
            </div>
          </td>
        </tr>
        <tr>
          <td style=" text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <u>
              <b style="text-transform: capitalize;">
                <%=PihakIName %>
              </b>
            </u>
          </td>
          <td style="text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <u>
              <b style="text-transform: capitalize;">
                <%=PihakIIName %>
              </b>
            </u>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <b style="text-transform: capitalize;">
              <%=PihakIPosition %>
            </b>
          </td>
          </td>
          <td style="text-align: center;padding-left:10px;padding-right: 10px; vertical-align: top;">
            <b style="text-transform: capitalize;">
              <%=PihakIIPosition %>
            </b>
        </tr>
      </tbody>
    </table>
    </p>
  </div>
</body>

</html>
