<html>

<head>
  <title></title>
</head>
<style>
  * {
    font-size: 7px;
    font-size: 8.5px;
  }

  p {
    line-height: 1.6;
    font-size: 8.5px;
  }

  .hader {
    text-align: center;
    border-bottom: solid 1px #000;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
  }

  .hader>.title {
    font-size: 7px;
    font-weight: bold;
  }

  .content {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .table-attention {
    width: 80%;
  }

  .table-cost {
    width: 100%;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .table-cost>thead>tr>td {
    padding: 2px;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    font-weight: bold;
  }

  .table-cost>tbody>tr>td {
    padding: 2px;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
  }

  .table-cost>tbody>tr>td:last-child {
    border-right: none;
  }

  .table-cost>thead>tr>td:last-child {
    border-right: none;
  }
</style>

<body>

  <div class="content">
    <div id="pageHeader" style="text-align: left; margin-left: 15px;">
      <img src="data:image/png;base64,<%=headerImg %>" width="150" />
    </div>
    <div id="pageFooter" style="margin-bottom: -50px;">
      <div style="position: absolute;width: 450px;text-align: center !important;margin-left: 35px;">
        <div style="color: #FFFFFF; margin-top: 7px;">
          <%=PihakIICompany %>
        </div>
        <div style="color: #FFFFFF;">
          <%=PihakIIAddress %>
        </div>
      </div>
      <img style="width: 550px; height: 80px; margin-left: 15px; " src="data:image/png;base64,<%=footerImg %>" />
    </div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="50%">To:</td>
          <td width="50%">From:</td>
        </tr>
        <tr>
          <td width="50%">
            <div style="text-transform: capitalize;font-weight: bold;">
              <%=PihakICompany %>
            </div>
            <div style="text-transform: capitalize;">
              <%=PihakIAddress %>
            </div>
            <div>
              <b>NPWP :</b>
              <%=PihakINPWP %>
            </div>
          </td>
          <td width="50%">
            <div style="text-transform: capitalize;font-weight: bold;">
              <%=PihakIICompany %>
            </div>
            <div style="text-transform: capitalize;">
              <%=PihakIIAddress %>
            </div>
            <div>
              <b>NPWP :</b>
              <%=PihakIINPWP %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-size: 16px;">
      Invoice
    </div>
    <p>
    <table class="table-attention">
      <tr>
        <td width="120px">Invoice Date</td>
        <td width="20px">:</td>
        <td>
          <%=InvoiceDate %>
        </td>
      </tr>
      <tr>
        <td width="120px">Invoice Number</td>
        <td width="20px">:</td>
        <td>
          <%=InvoiceNumber %>
        </td>
      </tr>
    </table>
    </p>

    <p>

    </p>

    <p>
    <table class="table-cost" width="100%" cellspacing="0" cellpadding="0">
      <thead>
        <tr style="background-color: #d9e2f3;">
          <td width="70%" style="text-align: center;">Description</td>
          <td width="30%" style="text-align: center;">Amount (IDR)</td>
        </tr>
      </thead>
      <tbody>
        <% DataInvoice.forEach(function(data) {%>
          <tr>
            <td>
              <%=data.description%>
            </td>
            <td style="text-align: right;">
              <%=data.IDRAmount%>
            </td>
          </tr>
          <%});%>
            <tr style="background-color: #d9e2f3;">
              <td style="text-align: left;"><b>Total</b> </td>
              <td style="text-align: right;"><b>
                  <%=TotalInvoiceAmount%>
                </b></td>
            </tr>
      </tbody>
    </table>
    <div>
      <b>Terbilang : </b>
    </div>
    <div style="text-transform: capitalize;">
      <b>
        <%=TotalInvoiceTerbilang%> Rupiah
      </b>
    </div>

    </p>
    <p>

    <div style="margin-top: 30px;">
      <table>
        <tr>
          <td>
            <div style=" height: 60px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="padding-bottom: 10px; border-bottom: dashed 1px #000;text-transform: uppercase;">
              <%=PihakIName %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="padding-top: 10px;text-transform: capitalize;">
              <%=PihakIPosition %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="height: 20px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              For further information please contact<br>
              <label style="text-transform: capitalize;">
                <%=PihakIEmail %>
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div style="float: right;margin-top: -20px; width:50%">
      <table style="width: 100%;">
        <tr>
          <td width="100px">
            Account Name
          </td>
          <td width="10px">
            :
          </td>
          <td>
            <div style="text-transform: capitalize;">
              <%=PihakIICompany %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Account Number
          </td>
          <td>
            :
          </td>
          <td>
            <div>
              <%=PihakIIAcountNumber %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Bank Name
          </td>
          <td>
            :
          </td>
          <td>
            <div>
              <%=PihakIIBank %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Branch
          </td>
          <td>
            :
          </td>
          <td>
            <div>
              <%=PihakIIBranch %>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div style="clear: both;"></div>
    <div
      style="text-align: center !important; padding-top: 20px; font-size: 35px; color:#858585; font-weight:bold;margin-top: 20px;">
      <%=IvoiceType %> INVOICE
    </div>
  </div>
</body>

</html>
