<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>DIGIPOS ASSURANCE TOOLS</title>
  <style type="text/css">
    body {
      background: #ddd;
      font-size: 14px;
    }

    .header {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .footer {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
      background-color: #29647b;
      color: #FFFFFF;
      border-radius: 5px;
    }

    .header>img {
      width: 150px;
    }

    .conten-main {
      width: 80%;
      min-height: 300px;
      background-color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 20px;
      font-size: 14px;
    }

    .conten-main>div {
      padding-bottom: 20px;
    }

    .button {
      width: 100px;
      text-decoration: none;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #18c96e;
      color: #FFFFFF;
      font-size: 12px;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div class="header">
    <img src="https://digipos-portal.linkaja.com/static/media/LogoADportal.0373d18b.png" width="200"
      style="width: 200px;height: 50px;" />
  </div>
  <div class="conten-main">
    <div>
      <h2>Distribute Document {{type_doc}} !</h2>
    </div>
    <div>
      The {{type_doc}} documents for {{ad_name}} a have been distributed, please check immediately and proceed with the
      next document.
    </div>
    <div style="padding:10px;text-align: center;">
      {{name_doc}}
    </div>
    <div>
      To view the document, you can view it by pressing the following button:
    </div>
    <div style="text-align:center;margin-top:30px;">
      <a href="https://digipos-portal.linkaja.com/login" class="button">Portal Authorize Dealer Tools</a>
    </div>
    <div>
      <b>Thank you.</b>
    </div>
  </div>
  <div class="footer">
    Portal Authorize Dealer Tools - Link Aja &copy; 2021
  </div>
</body>

</html>
