<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>DIGIPOS ASSURANCE TOOLS</title>
  <style type="text/css">
    body {
      background: #ddd;
      font-size: 14px;
    }

    .header {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .footer {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
      background-color: #29647b;
      color: #FFFFFF;
      border-radius: 5px;
    }

    .header>img {
      width: 150px;
    }

    .conten-main {
      width: 80%;
      min-height: 300px;
      background-color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 20px;
      font-size: 14px;
    }

    .conten-main>div {
      padding-bottom: 20px;
    }

    .button {
      width: 100px;
      text-decoration: none;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #18c96e;
      color: #FFFFFF;
      font-size: 12px;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div class="header">
    <img
      src="http://cdn.mcauto-images-production.sendgrid.net/2759bdd452ae090c/05edb94f-2228-4a23-837b-baa98270c324/200x200.png" />
  </div>
  <div class="conten-main">
    <div>
      <h2>Forgot your password?</h2>
    </div>
    <div>
      If you requested a password reset <b>{{username}}</b>, use the confirmation code below to complete the process. If
      you didn't make this request, ignore this email.
    </div>
    <div style="text-align:center;font-size:14px;margin-top:20px;">
      <b>{{token}}</b>
    </div>

    <div>
      <h3>Getting a lot of password reset emails?</h3>
    </div>

    <div>
      Please go through the  and confirm your account.
      You can change your account settings with this <a
        href="hhttps://digiposapp.realclickpro.com/app/forgotpassword/{{link_forgot}}">Link</a> to require personal
      information
      to reset your password.
    </div>

    <div style="text-align:center;margin:50px;">
      <a href="https://digiposapp.realclickpro.com/app/forgotpassword/{{link_forgot}}" class="button">RESET PASSWORD</a>
    </div>

    <div>
      <b>Thank you for your confirmation.</b>
    </div>
  </div>
  <div class="footer">
    Bussiness Assurance Tools - Link Aja &copy; 2021
  </div>
</body>

</html>
