<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http: //www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>DIGIPOS ASSURANCE TOOLS</title>
</head>

<body>
  <style type="text/css">
    body {
      background: #ddd;
      font-size: 14px;
    }

    .header {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .footer {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
      background-color: #29647b;
      color: #FFFFFF;
      border-radius: 5px;
    }

    .header>img {
      width: 150px;
    }

    .conten-main {
      width: 80%;
      min-height: 300px;
      background-color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 20px;
      font-size: 14px;
    }

    .conten-main>div {
      padding-bottom: 20px;
    }

    .button {
      width: 100px;
      text-decoration: none;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      color: #FFFFFF;
      font-size: 12px;
      border-radius: 10px;
    }

    a.button {
      text-decoration: none;
      color: #FFFFFF;
    }

    a.button:hover {
      text-decoration: none;
      color: #FFFFFF;
    }
  </style>
  <div class="header">
  </div>
  <div class="conten-main">
    <div>
      Dear Sir/Madam, <b>{{name_approval}}</b>
    </div>
    <div>
      A new FPJP request <b>{{fpjp_number}}</b> has been submitted by <b>{{fpjp_submit}}</b>  and need for
      your approval. You can see all the details about this FPJP by clicking the link below.
    </div>
    <div>
      Please confirm or reject your approval by pressing the button below :
    </div>
    <div style="text-align:center;margin:50px;">
      <a href="{{link_list_approval}}/approve-fpjp/{{token_set}}" class="button"
        style="background-color: #18c96e;">APPROVE</a>
      <a href="{{link_list_approval}}/reject-fpjp/{{token_set}}" class="button"
        style="background-color: #FF0000;">REJECTED</a>
    </div>
    <div>
      The FPJP request details are:
    </div>
    <table>
      <tr>
        <td>FPJP Type</td>
        <td>:</td>
        <td>{{fpjp_type}}</td>
      </tr>
      <tr>
        <td>FPJP Name</td>
        <td>:</td>
        <td>
          <b>{{fpjp_name}}</b>
        </td>
      </tr>
      <tr>
        <td>Currency</td>
        <td>:</td>
        <td>
          <b>{{currency}}</b>
        </td>
      </tr>

      <tr>
        <td>Amount</td>
        <td>:</td>
        <td>
          <b>{{amount}}</b>
        </td>
      </tr>

      <tr>
        <td>Remark</td>
        <td>:</td>
        <td>
          <b>{{remarks}}</b>
        </td>
      </tr>
    </table>

    <div style="height: 20px;">&nbsp;</div>

    <div>
      <b>Thank you for your confirmation.</b>
    </div>
  </div>
  <div class="footer">
    Bussiness Assurance Tools - Link Aja &copy; 2021
  </div>
</body>

</html>
