<html>

<head>
  <title></title>
</head>
<style>
  body {
    font-size: 7px;
  }

  * {
    font-size: 7px;
  }

  .hader {
    text-align: center;
    border-bottom: solid 1px #000;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
  }

  .hader>.title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .table-attention {
    width: 80%;
  }

  .table-cost {
    width: 100%;
    border: solid 1px #000;
  }

  .table-cost>thead>tr>td {
    padding: 10px;
    border: solid 1px #000;
    font-weight: bold;
  }

  .table-cost>tbody>tr>td {
    padding: 10px;
    border: solid 1px #000;
  }
</style>

<body>
  <div id="pageHeader" style="text-align: left; margin-left: 15px;"></div>
  <div id="pageFooter" style="margin-bottom: -50px;"></div>
  <div class="hader">
    <div class="title">
      <%=Periode %>
    </div>
  </div>
  <div class="content">
    <table class="table-cost" width="100%" cellspacing="0" cellpadding="0">
      <thead>
        <!-- <tr>
          <td rowspan="5"></td>
          <td rowspan="5">AD A</td>
          <td rowspan="5">AD B</td>
        </tr> -->
        <tr>
          <td>Dealer Code</td>
          <td>Name</td>
          <td>Bulan</td>
          <td>Tahun</td>
          <td>Tipe</td>
          <td>Fee</td>

          <!-- <td>Trx Cluster</td>
          <td>Total MDR</td>
          <td>DPP</td>
          <td>PPN</td>
          <td>PPH</td> -->

          <td>Trx</td>
          <td>Total MDR</td>
          <td>DPP</td>
          <td>PPN</td>
          <td>PPH</td>

        </tr>
      </thead>
      <tbody>
        <% DataTransaction.forEach(function(data) {%>
          <tr>
            <td style="text-align: left;">
              <%=data.dealer_code%>
            </td>
            <td style="text-align: left;">
              <%=data.dealer_name%>
            </td>
            <td style="text-align: right;">
              <%=data.bulan%>
            </td>
            <td style="text-align: right;">
              <%=data.tahun%>
            </td>
            <td style="text-align: left;">
              <%=data.type%>
            </td>
            <td style="text-align: right;">
              <%=data.fee%>
            </td>


            <td style="text-align: right;">
              <%=data.trx%>
            </td>
            <td style="text-align: right;">
              <%=data.total_mdr%>
            </td>
            <td style="text-align: right;">
              <%=data.dpp%>
            </td>
            <td style="text-align: right;">
              <%=data.ppn%>
            </td>
            <td style="text-align: right;">
              <%=data.pph %>
            </td>
          </tr>
          <%});%>
            <tr>
              <td colspan="6" style="text-align: left;">Total</td>
              <td style="text-align: right;">
                <%=total_trx%>
              </td>
              <td style="text-align: right;">
                <%=total_total_mdr%>
              </td>
              <td style="text-align: right;">
                <%=total_dpp%>
              </td>
              <td style="text-align: right;">
                <%=total_ppn%>
              </td>
              <td style="text-align: right;">
                <%=total_pph%>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
