<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>DIGIPOS ASSURANCE TOOLS</title>
  <style type="text/css">
    body {
      background: #ddd;
      font-size: 14px;
    }

    .header {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .footer {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-top: 20px;
      text-align: center;
      background-color: #29647b;
      color: #FFFFFF;
      border-radius: 5px;
    }

    .header>img {
      width: 150px;
    }

    .conten-main {
      width: 80%;
      min-height: 300px;
      background-color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 20px;
      font-size: 14px;
    }

    .conten-main>div {
      padding-bottom: 20px;
    }

    .button {
      width: 100px;
      text-decoration: none;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #18c96e;
      color: #FFFFFF;
      font-size: 12px;
      border-radius: 10px;
    }

  </style>
</head>

<body>
  <div class="header">
    <img src="https://digipos-portal.linkaja.com/static/media/LogoADportal.0373d18b.png" width="200"
      style="width: 200px;height: 50px;" />
  </div>
  <div class="conten-main">
    <div>
      <h2>Dear {{PT}}</h2>
    </div>
    <div>
      Berikut informasi yang dapat kami sampaikan yang disertakan dengan document yang dibutuhkan terkait transaksi yang
      didata oleh <b>PT FINTEK KARYA NUSANTARA</b> yaitu :
      <table>
        <tr>
          <td width="200px">PERIODE</td>
          <td> : </td>
          <td> {{PERIODE}} </td>
        </tr>
        <tr>
          <td width="200px">NAME</td>
          <td> : </td>
          <td> {{PT}} </td>
        </tr>
        <tr>
          <td width="200px">PRODUCT</td>
          <td> : </td>
          <td> {{PRODUCT}} </td>
        </tr>
        <tr>
          <td width="200px">PRODUCT DETAIL</td>
          <td> : </td>
          <td> {{PRODUCT_GROUP}} </td>
        </tr>
        <tr>
          <td width="200px">DOCUMENT SHARE</td>
          <td> : </td>
          <td> {{DOCUMENT}} </td>
        </tr>
      </table>
    </div>
    <div style="padding:10px;text-align: center;">
      dengan <b>catatan / note </b>sebagai berikut : <b>{{MESSAGE}}</b>
    </div>
    <div>
      <b>Thank you.</b>
    </div>
  </div>
  <div class="footer">
    Revenue Tools - Link Aja &copy; 2022
  </div>
</body>

</html>
